body {
    background-color: #F7E7B6;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Indie Flower', cursive;
}

.content-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.main-container {
    display: flex;
    flex-flow: column wrap;
    background-color:  #2B303A;
    color: #B0CFD4;
    width: 800px;
    height: 100vw;
}

.main-container h1 {
    font-family: 'Permanent Marker', cursive;
    color: #9B685B
}

.adoption-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.pet-card-container {
    display: flex;
}

.name-input {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}